#currentvalues{
    width: 90%;
    margin: auto;
    display: block;
}
.valuediv{
    display: inline-block;
    width: 25%;
    text-align: center;
}
.value{
    font-size: 2em;
}
.time{
    font-size: 0.4em;
}
.canvas{
    height: 300px;
}
@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    [class="valuediv"] {
        width: 50%;
        text-align: center;
    }
  }